name: Continuous Integration

on:
  pull_request:

jobs:
  build-test-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '22'
        cache: 'yarn'
        registry-url: "https://npm.pkg.github.com"
        scope: "@neat-evolution"

    - name: Setup .yarnrc.yml
      run: |
        yarn config set npmScopes.neat-evolution.npmRegistryServer "https://npm.pkg.github.com"
        yarn config set npmScopes.neat-evolution.npmAlwaysAuth true
        yarn config set npmScopes.neat-evolution.npmAuthToken $NPM_AUTH_TOKEN
        yarn config set npmScopes.heygrady.npmRegistryServer "https://npm.pkg.github.com"
        yarn config set npmScopes.heygrady.npmAlwaysAuth true
        yarn config set npmScopes.heygrady.npmAuthToken $NPM_AUTH_TOKEN
      env:
        NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get yarn cache directory
      run: echo "LOOKUP_YARN_CACHE_FOLDER=$(yarn config get cacheFolder)" >> $GITHUB_ENV

    - name: Cache TurboRepo
      uses: actions/cache@v4
      with:
        path: |
          .turbo
          ${{ env.LOOKUP_YARN_CACHE_FOLDER }}
          node_modules
        key: ${{ runner.os }}-turbo-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-turbo-

    - name: Install dependencies (yarn)
      run: yarn install --immutable --refresh-lockfile

    - name: Build (all)
      run: yarn build

    # TODO: run in parallel to tests
    - name: Lint (all)
      run: yarn lint

    - name: Test (all)
      run: yarn test
        
    - name: Check packages (manypkg)
      run: yarn check:manypkg

    - name: Check change files (beachball)
      run: yarn check:beachball
